@import "ButtonYellow.css";
@import "ButtonWhite.css";

button {
  outline: none;
  cursor: pointer;
  word-break: break-all;
}

.btn {
  padding: 8px 15px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.btn-block {
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

button .btn,
.active {
  border-bottom: 5px solid #282c34;
  color: rgba(59, 40, 34, 0.7);
  transition: 400ms;
}

.main {
  padding: 16px 90px;
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
