.shadow-container-yellow {
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-self: center;
  background-color: rgba(224, 216, 181, 0.7);
  border: 1px solid black;
  -webkit-box-shadow: 0 8px 6px -6px #6d6d6d;
  -moz-box-shadow: 0 8px 6px -6px #6d6d6d;
  box-shadow: 0 8px 25px -6px #6d6d6d;
}

.shadow-container-white {
  padding: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  -webkit-box-shadow: 0 8px 6px -6px #ffffff;
  -moz-box-shadow: 0 8px 6px -6px #ffffff;
  box-shadow: 0 8px 25px -6px #ffffff;
}

.colorchooser-container-yellow {
  background-color: rgba(200, 194, 169, 1);
  margin-top: 55px;
  padding: 13px;
  border-bottom: 1px solid black;
}

.colorchooser-container-white {
  background-color: rgba(169, 169, 169, 1);
  margin-top: 55px;
  padding: 13px;
  border-bottom: 1px solid black;
}

.navbar-mobilecontainer {
  width: 100%;
  text-align: right;
}

.card-container-yellow {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(226, 226, 226, 0.7);
}

.card-container-white {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(114, 84, 84, 0.4);
}

.footer-container-yellow {
  background-color: rgba(200, 194, 169, 1);
  padding: 13px;
  border-top: 1px solid black;
}

.footer-container-white {
  background-color: rgba(169, 169, 169, 1);
  padding: 13px;
  border-top: 1px solid black;
}
