h1 {
  padding-top: 10px;
  font-size: 45px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}
.default-header-yellow {
  color: #181818;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  font-family: "PT Sans", sans-serif;
}

.default-header-white {
  color: #181818;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5px;
  font-family: "PT Sans", sans-serif;
}
