.dirlink-white {
  color: black;
  display: flex;
  float: left;
  margin-left: 5px;
  text-decoration: none;
  font-size: 18px;
}

.dirlink-yellow {
  color: rgb(68, 66, 66);
  display: flex;
  float: left;
  margin-left: 5px;
  text-decoration: none;
  font-size: 18px;
}

.website-link-white {
  color: rgb(91, 85, 95);
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

.website-link-yellow {
  color: rgb(91, 85, 95);
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}
