//Variables
$yellowText: #7c4f4f;
$navbarYellowColor: rgba(200, 194, 169, 1);
$navbarWhiteColor: rgba(169, 169, 169, 1);
$containerYellowColor: rgba(224, 216, 181, 0.7);
$containerWhiteColor: rgba(255, 255, 255, 0.8);

.mycontainer {
  margin: auto;
  max-width: 1100px;
}

.info-wrapper {
  max-width: 1500px;
  margin: auto;
}

.grid {
  display: grid;
  height: 80vh;
  width: 100%;
  margin: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  .contact-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-content: center;
    grid-column: 1 / -1;
  }

  .col2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

//mobile layout

@media (min-width: 768px) {
  //backup flexbox

  @media (grid: 0) {
    .info-grid {
      display: grid;
      height: auto;
      width: 100%;
      grid-template-columns: 1fr 4fr;

      .links {
        display: flex;
        border-right: none;
        background-color: rgba(150, 147, 147, 0.5);
        width: 100%;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        padding: 0;
        align-items: center;
        height: auto;

        .info-links {
          width: 100%;

          .link-header-yellow {
            background-color: $containerYellowColor;
          }

          .link-header-white {
            background-color: $containerWhiteColor;
          }

          li {
            text-decoration: none;
            font-weight: 800;
            font-size: 25px;
            padding: 5px;
            border-bottom: 1px solid black;

            &:hover {
              cursor: pointer;
              opacity: 0.6;
            }
          }

          .white {
            background-color: rgb(150, 147, 147);
          }

          .yellow {
            background-color: $yellowText;
            color: rgb(230, 227, 224);
          }
        }
      }

      .info-container {
        grid-column: 2 / 2;
        height: 100vh;
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .info-content {
        display: grid;
        width: 100%;
        height: auto;

        grid-template-columns: 1fr 1fr;

        .col1 {
          grid-column: 1 / -1;
        }

        .col2 {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;

          p {
            text-align: center;
          }
        }

        img {
          display: flex;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}
